<html>

<head>
  <title>testList</title>
  <style>

  </style>
</head>

<body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <fieldset>
    <legend>Create New Todo</legend>
    <label>Todo:</label>
    <input type="text" v-model='newList.todo'></input>
    <label>Frequency:</label>
    <select v-model='newList.frequency'>
      <option value='everyday'>everyday</option>
      <option value='everyweek'>everyweek</option>
      <option value='onlyonce'>onlyonce</option>
    </select>
    <button v-on:click='createTodo'>add</button>
  </fieldset>
  <div id='list-area'>
    <todo-list v-for='list in lists' v-bind:todo-detail='list.todo' v-bind:fre-detail='list.frequency'></todo-list>
  </div>


  <script>
    Vue.component('todo-list', {
      template: '\
      <div>\
        <span>Todo:</span>\
        <span>{{todoDetail}}</span>\
        <span>Frequency:</span>\
        <span>{{freDetail}}</span>\
        <button>delete</button>\
      </div>',
      props: ['todoDetail', 'freDetail']
    })

    new Vue({
      el: '#list-area',
      components:['todo-list'],
      data: {
        newList: {
          todo: '',
          frequency: 'onlyonce'
        },
        lists: [
          {
            todo: 'read news',
            frequency: 'everyday'
          },
          {
            todo: 'clean litter box',
            frequency: 'everyweek'
          }
        ]

      },
      methods: {
        createTodo: function () {
          this.lists.push(this.newList);
          this.newList = { todo: '', frequency: 'onlyonce' }
        }

      }
    })
  </script>

</body>

</html>
